[submodule "opscode-cookbooks"]
	path = opscode-cookbooks
	url = https://github.com/opscode/cookbooks.git
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = https://github.com/fnichol/chef-rvm.git
